<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context.xsd
    ">
 	<context:component-scan base-package="com.hsy.thread"/>
    <!-- service切面处理，保存调用信息到数据库 -->
    <bean id="fixedThreadPool" class="com.hsy.thread.pool.FixedThreadPool">
        <!--线程池线程数量-->
        <constructor-arg type="int" value="2"/>
    </bean>
</beans>
