<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
    ">


    <!-- 激活组件扫描功能,扫描aop的相关组件组件 -->
    <!--<context:component-scan base-package="com.hsy"/>-->
    <!-- 启动对@AspectJ注解的支持 -->
    <!--<aop:aspectj-autoproxy proxy-target-class="true" />-->


    <!--扫描web相关的controller-->
    <context:component-scan base-package="com.hsy.web.controller"/>
    <import resource="spring-dataSource-druid.xml"/>
    <import resource="spring-dao.xml"/>
	<!--全局异常捕捉 -->
	<!--<bean class="com.yingjun.ssm.exception.GlobalExceptionResolver" />-->

</beans>